%section.events
  %h2.events__heading What's going on at Hansell & Gretel...
  %p.events__paragraph
    We host a varied range of events here at Hansell and Gretel. Events range from sit down degustation style feasts
    to monthly trivia to beer, wine and cooking classes. Check out what’s coming up soon below and be sure to like our
    Facebook page and subscribe to our events feed to be kept up to date!
  =render 'components/facebook_feed'