%section.functions
  =render partial: 'main/partials/functions_navigation'
  %div.functions__content.food_packages
    =link_to('Enquire Now', functions_enquiries_path, class: 'button')
    %h1.menu__heading--large
      Food Packages
    =image_tag('ornament.png', class: 'ornament')
    %h2.menu__subtitle
      All of our food packages include a glass of sparkling wine upon arrival for guests
    %div.row__container
      %div.row
        %div.functions__option
          %h1.menu__heading
            Standing Cocktail Party
          =image_tag('ornament.png', class: 'ornament')
          %h2.menu__subtitle
            Served over 2 hours
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold $39 pp
              including 6 savoury canapes (1.5 pieces of each item per person)
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold $49 pp
              including 6 savoury canapes and 2 sweet items (1.5 pieces of each item per person)
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold $59 pp
              including 6 savoury canapes, 2 sweet items & a noodle box ‘fork dish’ (1.5 pieces & 1 noodle box per person)
        =image_tag('steve_hansell_cooking.jpg', class: 'row__image')
      %div.row
        %div.functions__option
          %h1.menu__heading
            Sit Down Dinner
          =image_tag('ornament.png', class: 'ornament')
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold $45 pp
              Entree served ‘family-style’ as share platters for the table ω/ individually plated main course & salads for the table
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold $55 pp
              Entree served ‘family-style’ as share platters for the table ω/ individually plated main course, salads for the table & a selection of house-made sweet treats for dessert
        %div.functions__option
          %h1.menu__heading
            Banquet
          =image_tag('ornament.png', class: 'ornament')
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold $65 pp
              Buffet-style banquet including a selection of salads, wet dishes, breads & sweets
      =link_to('Enquire Now', functions_enquiries_path, class: 'button')
  %div.functions__content.drinks_packages
    =link_to('Enquire Now', functions_enquiries_path, class: 'button')
    %h1.menu__heading--large
      Drinks Packages
    =image_tag('ornament.png', class: 'ornament')
    %h2.menu__subtitle
      We offer a range of beverage package options for your convenience
    %div.row__container
      %div.row
        %div.functions__option
          %h1.menu__heading
            Pre-approved Bar Tab
          =image_tag('ornament.png', class: 'ornament')
          %div.functions__item
            %p.row__paragraph
              You decide how much you would like to spend and we will set your group up with a tab to that value.
              %br
                %br
                Our staff will monitor spending on the tab and inform you when you are reaching your pre-approved limit. We are able to extend this on the night if you wish.
        =image_tag('wine.jpg', class: 'row__image')
      %div.row
        %div.functions__option
          %h1.menu__heading
            Inclusive Packages
          =image_tag('ornament.png', class: 'ornament')
          %h2.menu__subtitle
            Available with the purchase of one of our
            =link_to('food packages', '#', class: 'event__paragraph')
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold Basic Package
              $35 pp over two hours or $45 pp over three hours
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold Spirits Package
              $50 pp over two hours or $60 pp over three hours
        %div.functions__option
          %h1.menu__heading
            Premium Drinks Only Package
          =image_tag('ornament.png', class: 'ornament')
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold Wine & Premium Beer
              $55 pp over two hours or $65 pp over 3 hours
          %div.functions__item
            %p.row__paragraph
              %strong.row__paragraph--bold Wine, Premium Beer & Spirits
              $70 pp over two hours or $80 pp over 3 hours
      %div.row
        =image_tag('glasses.jpg', class: 'row__image')
        %div.functions__option
          %h1.menu__heading
            Custom Package
          =image_tag('ornament.png', class: 'ornament')
          %div.functions__item
            %p.row__paragraph
              We are more than happy to discuss the possibilites of putting together a premium beverage package just for you and your group. Please do not hesitate to contact us with your requests
      =link_to('Enquire Now', functions_enquiries_path, class: 'button')