.enquiry__container
  .function-text
    %h1.menu__heading Book your next function with us!
    =image_tag('ornament.png', class: 'ornament')
    %div.row
      %div.container
        %p.events__paragraph
          We are excited to help you to host your event here at Hansell and Gretel! Please fill out the form below and
          our events team will be in touch with you as soon as possible to get your booking underway. Our packages are
          intended as a starting point - our Bar Manager and Executive Chef are more than happy to tailor your event to
          suit your requirements.
        = link_to 'More Information', functions_path, class: 'button'
      %span
      = image_tag 'group.jpg', class: 'enquiry__image'
.function_form__container
  %h1.menu__heading Get in Touch
  =image_tag('ornament.png', class: 'ornament')
  = form_for @functions_enquiry do |f|
    %fieldset.function__fieldset.test
      %div.function__field
        = f.label :date, 'Date of the Event'
        = f.text_field :date, type: :date, required: true
      %div.function__field
        = f.label :time, 'Time of the Event'
        = f.text_field :time, type: :time, required: true
      %div.function__field
        = f.label :occasion, 'Occasion'
        = f.text_field :occasion, required: true
      %div.function__field
        = f.label :name, 'Contact Person\'s Name'
        = f.text_field :name, required: true
      %div.function__field
        = f.label :email, 'Contact Person\'s Email'
        = f.text_field :email, required: true
      %div.function__field
        = f.label :phone, 'Contact Ph.'
        = f.text_field :phone, type: :phone, required: true
    %fieldset.function__fieldset
      %div.function__field
        = f.label :number, 'Number of Attendees'
        = f.text_field :number, type: :number, required: true
      %div.function__field
        = f.label :food_pkg, 'Food Package'
        = f.select :food_pkg, (['$39pp standing cocktail party package', '$39pp standing cocktail party package', '$49pp standing cocktail party package', '$59pp standing cocktail party package', '$45pp two course sit down package', '$55pp three course sit down package', '$65pp banquet package', 'Custom Package (We will be in touch to discuss your requirements)'])
      %div.function__field
        = f.label :drinks_pkg, 'Drinks Package'
        = f.select :drinks_pkg, (['* 2 hour basic beverage package $35pp *', '* 3 hour basic beverage package $45pp *', '* 2 hour spirits package $50pp *', '* 3 hour spirits package $60pp *', '2 hour premium wine package $55pp', '3 hour premium wine package $65pp', '2 hour premium wine and spirits package $70pp', '3 hour premium wine and spirits package $80pp', 'Custom Package (We will be in touch to discuss your requirements)'])
        %p.events__paragraph
          must purchase drinks package
      %div.function__field
        = f.label :exclusivity, 'Do you require exclusive use of the premises?', class: 'exclusivity'
      %section.checkbox__container
        %div
          %h1 Yes
          = f.radio_button :exclusivity, required: true
        %div
          %h1 No
          = f.radio_button :exclusivity, required: true
      = f.submit 'Submit', class: 'submit__button'
