%div.facebook-events-feed-container.facebook__feed
  %div.fb-page{'data-adapt-container-width' => 'true', 'data-height' => '650px', 'data-href' => 'https://www.facebook.com/HansellandGretelCafe', 'data-small-header' => 'true', 'data-tabs' => 'events', 'data-width' => '440px'}