%footer.footer
  %p.footer__paragraph
    Hansell & Gretel Espresso and Breakfast Bar
    %strong.footer_paragraph--bold 7 days, 7am - 2pm
  %p.footer__paragraph
    Cnr. Samford Rd & Pickering St GAYTHORNE QLD
    %strong.footer_paragraph--bold
      =link_to('info@hansellandgretelcafe.com.au', 'info@hansellandgretelcafe.com.au', class: 'footer__link')
  %p.copyright
    &copy Nate Jacoby 2017
  =link_to('Privacy Policy', '#', class: 'privacy_policy__link')