%header.header
  =render 'components/navigation'
  %div.header__logo
    =image_tag('logo/logo-text.png', class: 'logo__text')
    =render 'components/social'
  %div.header_logo-graphic__container
    =image_tag('logo/logo-graphic.png', class: 'logo__graphic')