%ul.header__navigation
  %li.navigation__item
    =link_to('Menu', '/menu', class: 'navigation__link')
  %li.navigation__item
    =link_to('Events', root_path , class: 'navigation__link')
  %li.navigation__item
    =link_to('Functions', functions_path, class: 'navigation__link')
%ul#sidebar
  =image_tag('logo/logo-graphic.png', class: 'logo__graphic')
  %li.navigation__item
    =link_to('Menu', '/menu', class: 'navigation__link')
  %li.navigation__item
    =link_to('Events', root_path , class: 'navigation__link')
  %li.navigation__item
    =link_to('Functions', functions_path, class: 'navigation__link')
  =render 'components/social'