%div.social__wrapper
  %p.social__text Social
  %ul.social__container
    %li.social__item
      =link_to "#{image_tag 'social/facebook.png', class: 'social__icon'}".html_safe, 'https://www.facebook.com/hansellandgretelcafe', :target => '_blank'
    %li.social__item
      =link_to "#{image_tag 'social/instagram.png', class: 'social__icon'}".html_safe, 'https://www.instagram.com/hansellandgretelcafe', :target => '_blank'
