=render partial: 'components/menu_banner', locals: {navigation: 'menus/partials/menu__navigation'}
%section.menu
  %div.breakfast{:data => {:content => 'breakfast'}}
    =render partial: 'menus/partials/breakfast', locals: { menu: @menu }
  %div.brunch
    =render partial: 'menus/partials/brunch', locals: { menu: @menu }
  %div.beverages
    =render partial: 'menus/partials/beverages', locals: { menu: @menu }

  