= form_for @menu do |f|
  - if @menu.errors.any?
    #error_explanation
      %h2
        = pluralize(menu.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - menu.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :short_description
    = f.text_field :short_description
  .field
    = f.label :long_description
    = f.text_field :long_description
  .actions
    = f.submit 'Save Recipe', :class => 'submit green button'
