@import 'base/variables';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header__logo {
  padding: 0 5rem;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  @media screen and (max-width: $header-break) {
    width: 100%;
    padding: 0;
    margin-top: 3rem
  }
}

.header_logo-graphic__container {
  @media screen and (max-width: $header-break) {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.5;
    .logo__graphic {
      width: 70px;
      z-index: 888;
    }
  }
}

.logo__text {
  align-self: center;
  flex: 1 100%;
  max-width: 100%;
  margin: 0 auto;
  @media screen and (max-width: $header-break) {
    width: 100%;
    align-self: stretch;
    z-index: 999;
  }
}

.page_title__banner {
  padding: 1rem;
  background-color: $dark;
}

h1.page__title {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
