@import 'base/variables';

.header__navigation {
  @media screen and (max-width: $header-break) {
    display: none;
  }
}

.navigation__item {
  padding: 0.4rem 0;
}

.navigation__link {
  letter-spacing: 2px;
  transition: ease 0.06s;
  display: block;
  &:hover {
    transform: scale(1.02)
  }
}
