@import 'base/variables';

.social__wrapper {
  margin-top: 0.6rem;
  @media screen and (max-width: $header-break) {
    display: none;
  }
}

.social__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__text {
  display: none;
}

.social__item {
  margin: 0 0.3rem;
}

.social__icon {
  width: 2.6rem;
  transition: ease 0.1s;
  &:hover {
    transform: scale(1.01)
  }
}