%h1.menu__heading
  Beverages
=image_tag('ornament.png', class: 'ornament')
%div.row
  %div.functions__option
    %h1.menu__heading
      Coffee
    =image_tag('ornament.png', class: 'ornament')
    %h2.menu__subtitle
      Any coffee you can imagine just ask & we will present in our famous HnG way
    %ul
      %li.beverage__item
        %p.beverage__title
          Small(8oz)
        %p.beverage__price
          4
      %li.beverage__item
        %p.beverage__title
          Large(12oz)
        %p.beverage__price
          4.9
      %li.beverage__item
        %p.beverage__title
          Extra Large(16oz)
        %p.beverage__price
          5.9
      %li.beverage__item
        %p
      %li.beverage__item
        %p
      %li.beverage__item
        %p.beverage__title
          Extra Shot
        %p.beverage__price
          0.6
      %li.beverage__item
        %p.beverage__title
          Flavour Shot
        %p.beverage__price
          0.5
      %li.beverage__item
        %p.beverage__title
          Soy Milk
        %p.beverage__price
          0.6
      %li.beverage__item
        %p.beverage__title
          Mocha
        %p.beverage__price
          0.5
      %li.beverage__item
        %p.beverage__title
          Bubba-cino
        %p.beverage__price
          1.5
  %div.functions__option
    %h1.menu__heading
      House Specialty Coffee
    =image_tag('ornament.png', class: 'ornament')
    %h2.menu__subtitle
      All made with espresso as old school cappuccino...Yes there's froth
    %ul
      %li.beverage__item--bold
        %p.beverage__title
          Cup
        %p.beverage__price
          5
      %li.beverage__item--bold
        %p.beverage__title
          Mug
        %p.beverage__price
          6
      %li.beverage__item
        %p
      %li.beverage__item
        %p
      %li.beverage__item
        %p.beverage__title
          Extra Large(16oz)
        %p.beverage__price
          5.9
      %li.beverage__item
        %p.beverage__title
          Extra Shot
        %p.beverage__price
          0.6
      %li.beverage__item
        %p.beverage__title
          Flavour Shot
        %p.beverage__price
          0.5
%div.row
  %div.functions__option
    %h1.menu__heading
      Tea & Chai
    =image_tag('ornament.png', class: 'ornament')
    %h3.menu__heading--medium
      Tea
    %p.menu__subtitle--left
      Hansell & Gretel blend (black tea with hints of vanilla and caramel), Brisbane breakfast, Earl Grey, Russian Caravan, English Breakfast, Peppermint, Lemongrass & Ginger; Longjing Green
    %p.menu__price--centred
      Loose Leaf Tea by the Pot ...5
    %h3.menu__heading--medium
      Chai
    %p.menu__subtitle--left
      House made with real ground spices this is life changing
    %p.menu__price--centred
      By the Pot or Latte ...6.5
  %div.functions__option
    %h1.menu__heading
      House Specialty Hot Chocolate
    =image_tag('ornament.png', class: 'ornament')
    %h3.menu__heading--medium
      The Witches Brew
    %p.menu__subtitle--left
      Hansell has harnessed the Witch’s chocolate tear drops & combined them with the elixer of life! Thick enough to eat with a spoon or sip it slowly, we take this seriously!!
    %p.menu__price--centred
      $POA
%div.row
  %div.functions__option
    %h1.menu__heading
      Shakes, Smoothies and Frappes
    =image_tag('ornament.png', class: 'ornament')
    %h3.menu__heading--medium
      Smoothies
    %p.menu__subtitle--right
      (Ice-cream & milk) then pick your flavour….real banana, real blueberry, real raspberry, espresso, caramello, real strawberry, jaffa, macadamia, hazelnut or spinach
    %p.menu__price--centred
      $POA
    %h3.menu__heading--medium
      Frappes
    %p.menu__subtitle--right
      (yoghurt, honey & milk) then pick your flavour… banana, raspberry, blueberry, strawberry, kale or mixed berry...
    %p.menu__price--centred
      $POA
    %h3.menu__heading--medium
      Milkshakes
    %p.menu__subtitle--right
      (Ice-cream & milk) then pick your flavour….real banana, real blueberry, real raspberry, espresso, caramello, real strawberry, jaffa, macadamia, hazelnut or spinach
    %p.menu__price--centred
      $POA
    %ul
      %li.beverage__item
        %p.beverage__title
          Regular (16oz)
        %p.beverage__price
          7.5
      %li.beverage__item
        %p.beverage__title
          Kids
        %p.beverage__price
          4.5
  %div.functions__option
    %h1.menu__heading
      Soft Drink
    =image_tag('ornament.png', class: 'ornament')
    %p.menu__subtitle
      A changing selection of soda pop… check the drink fridge out inside……. Sarsparilla, Ginger Beer, Cherry Coke, Coke, L&P, Peachee, juices, American soda pop, water, lemonade, Creaming Soda, Aqua Frizzante (bubbly water)
%p.menu__disclaimer
  All our menus are subject to change at any time
  %br
  Additions we welcome, but sorry NO exchanges