%h1.menu__heading
  Breakfast
=image_tag('ornament.png', class: 'ornament')
%h2.menu__subtitle
  7am - 11am
=render partial: 'menus/partials/display_menu', locals: { menu: @menu.select { |m| m.menu_type == 'breakfast' } }
%p.menu__disclaimer
  All our menus are subject to change at any time
  %br
  Additions we welcome, but sorry NO exchanges