%h1.menu__heading
  Brunch
=image_tag('ornament.png', class: 'ornament')
%h2.menu__subtitle
  11am - 2pm
=render partial: 'menus/partials/display_menu', locals: { menu: @menu.select { |m| m.menu_type == 'brunch' } }
%p.menu__disclaimer
  All our menus are subject to change at any time
  %br
  Additions we welcome, but sorry NO exchanges