%div.column__container
  %div.column
    - menu[0...menu.length / 2].each do |n|
      %div.menu__item
        %h2.menu_item__name
          = n.name
        %p.menu_item__description
          = n.short_description
        %p.menu_item__long_description
          = n.long_description
  %div.column
    - menu[menu.length / 2 ... menu.length].each do |n|
      %div.menu__item
        %h2.menu_item__name
          = n.name
        %p.menu_item__description
          = n.short_description
        %p.menu_item__long_description
          = n.long_description