%ul.menu__navigation
  %li.menu__tab.menu__tab--active{:data => {:trigger => 'breakfast'}} Breakfast
  %li.menu__tab{:data => {:trigger => 'brunch'}} Brunch
  %li.menu__tab{:data => {:trigger => 'beverages'}} Beverages