@import 'base/variables';

.menu__banner {
  width: 100%;
}
.menu__navigation {
  color: white;
  width: 100%;
  background-color: $dark;
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 1rem solid $green;
}

@mixin menu__tab {
  font-family: $header;
  font-size: 1rem;
  display: inline-block;
  margin: 0 22px;
  padding: 12px 14px 8px;
  align-self: flex-end;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: background-color ease 0.3s;
  @media screen and (max-width: $tablet) {
    font-size: 0.7rem;
    margin: 0 10px;
  }
}

.menu__tab {
  @include menu__tab;
  &:hover {
    cursor: pointer;
    background-color: $green;
  }
}

.menu__tab--active {
  @include menu__tab;
  padding: 0.7rem 1.5rem 0.5rem;
  background-color: $green;
  font-size: 1.2rem;
  border-radius: 10px 10px 0 0;
}

.menu_banner_image__strip {
  background-color: $green;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding: 1rem 0;
  width: 100%;
  height: 150px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.menu_banner__image {
  min-height: 0;
  min-width: 200px;
  overflow: hidden;
  flex: 1;
}