@import 'base/variables';

.menu {
  padding: 20px 0;
  width: 100%;
}

.menu__disclaimer {
  text-align: center;
  line-height: 1.4rem;
  font-weight: 700;
  font-family: 'Archer SB It', cursive;
  font-size: 0.8rem;
  color: $dark;
}

.menu__heading, .menu__subtitle {
  text-align: center;
}

.menu__subtitle, .menu__subtitle--left, .menu__subtitle--right {
  font-size: 1.1rem;
}
.menu__subtitle--left, .menu__subtitle--right {
  margin-top: 10px;
  font-family: "Archer Light It", "cursive";
  line-height: 1.45;
}

.menu__subtitle--left {
  text-align: left;
}

.menu__subtitle--right {
  text-align: right;
}

.menu__price--centred {
  margin: 18px 0 30px;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}

.menu__heading, .menu__heading--large, .menu__heading--medium {
  font-family: $header-two;
  color: $dark;
  margin-top: 22px;
  font-size: 1.9rem;
}
.menu__heading--medium {
  font-size: 1.2rem;
}
.menu__heading--large {
  font-size: 2.5rem;
  text-align: center;
}

.ornament {
  display: block;
  max-width: 250px;
  width: 100%;
  margin: 14px auto 10px;
}

.menu__item {
  margin: 28px 0;
  &:nth-of-type(2) {
    display: none;
  }
}

.menu_item__name {
  margin-bottom: 8px;
  color: $dark;
  font-family: 'Archer Book', serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.menu_item__description {
  font-size: 1rem;
  font-family: 'Archer Book', serif;
  font-weight: 100;
  line-height: 1.5;
  color: $dark;
}

.menu_item__long_description {
  display: none;
}

.column__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  @media screen and (max-width: 700px) {
    display: block;
    padding: 0.6rem;
  }
}
.menu .functions__option {
  @media screen and (max-width: $tablet) {
    padding: 0 1.2rem;
  }
}
.column__container > .column {
  flex: 1;
  align-self: flex-start;
  padding: 0 15px;
}

.brunch, .beverages {
  display: none;
}

// Beverages
.beverage__item, .beverage__item--bold {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.beverage__title, .beverage__price {
  font-size: 1.2rem
}

.beverage__item--bold {
  font-weight: bold;
}

.beverage__price {
  font-weight: bold;
}