<h1 style="font-family: 'tahoma', 'serif'; font-size: 20px; text-align: center;">Hansell & Gretel - Function Enquiry</h1>
<br>
<table id="email" style="width: 100%">
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Name:
    </td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.name %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Phone:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.phone %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Email:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.email %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Number of Guests:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.number %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Date:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.date.to_formatted_s(:long_ordinal) %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Time:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.time.strftime('%l:%M%P') %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Food Package:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.food_pkg %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Drinks Package:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.drinks_pkg %></td>
  </tr>
  <tr>
    <td style="background-color: green;color: white;padding: 4px 10px; text-align: right; font-family: 'Geneva', 'sans-serif';">Requires Exclusivity:</td>
    <td style="padding: 4px 10px;text-align: left;font-family: 'Geneva', 'sans-serif';"><%= @form.exclusivity ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
  </tr>
</table>