@mixin tablet {
  @media screen and (max-width: 950px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 587px) {
    @content;
  }
}

//Aesthetics
@mixin shadow($shadow:0 3px 5px 0 rgba(0,0,0,0.5)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin textshadow($textshadow:2px 2px 3px rgba(0, 0, 0, 0.97)) {
  text-shadow: $textshadow;
}

@mixin flex {
  display: flex;
  align-content: center;
  justify-content: center;
}

// Alerts

@mixin alert-variant($background, $border, $body-color) {
  background-color: $background;
  border-color: $border;
  color: $body-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($body-color, 10%);
  }
}