@import 'variables';
@import 'mixins';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: introrust;
  src: font_url('introbook.otf');
}

@font-face {
  font-family: Archer Book;
  src: font_url('archerbook.otf');
}
@font-face {
  font-family: Archer Light It;
  src: font_url('Archer-LightItal-Pro.otf');
}
@font-face {
  font-family: Archer SB It;
  src: font_url('Archer-SembdItal-Pro.otf');
}
@font-face {
  font-family: Intro Rust B;
  src: font_url('Intro-Head-B-Base.otf');
}
@font-face {
  font-family: Intro Rust H;
  src: font_url('Intro-Head-H-Base.otf');
}
@font-face {
  font-family: Intro Rust H2;
  src: font_url('Intro-Rust-H2-Base.otf');
}


h1 {
  font-size: 25px;
  font-family: $header;
}

h2 {
  font-family: $header-two;
}

p {
  font-family: $paragraph;
  font-size: 1.4vw;
}

a {
  font-family: $header;
  color: inherit;
}

a:link {
  text-decoration: none;
}

#privacy {
  padding: 40px;
  background-color: rgba(255,255,255,0.8);
  h1 {
    font-family: "Intro Rust H2", "serif";
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    font-family: "Intro Rust H2", "serif";
    font-size: 24px;
    margin-top: 20px;
    display: inline-block;
  }
  p {
    font-size: 17px;
    @include tablet {
      font-size: 2.3vw;
    }
    @include mobile {
      font-size: 3.5vw;
    }
  }
}