@import 'base/variables';

.footer {
  background-color: $dark;
  color: white;
  padding: 2.2rem;
  text-align: center;
  letter-spacing: 0.07rem;
  @media screen and (max-width: $header-break) {
    padding: 1rem;
  }
}

.footer__paragraph {
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  @media screen and (max-width: $header-break) {
    line-height: 1.3;
    font-size: 0.8rem;
  }
}

.footer_paragraph--bold {
  padding: 0.5rem;
  font-weight: bold;
  &::before {
    content: '|'  ;
    width: 1rem;
    display: inline-block;
    @media screen and (max-width: $header-break) {
      display: none;
    }
  }
  @media screen and (max-width: $header-break) {
    display: block;
  }
}

.copyright {
  margin-top: 4rem;
  font-size: 0.9rem;
  font-weight: 700;
  @media screen and (max-width: $header-break) {
    margin-top: 2rem;
  }
}

.privacy_policy__link {
  font-weight: 100;
  font-family: $paragraph;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.8rem;
}


.footer__link {
  font-family: $paragraph;
}