@import 'base/variables';

.function_form__container {
  padding: 0 2rem 2rem;
  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }
}

.function_form__container > form {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch !important;
  max-height: 100%;
  flex: 1 100%;
  box-sizing: border-box;
  overflow: hidden;
  @media screen and (max-width: $header-break) {
    flex-direction: column;
  }
}

.function__field {
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.function__field label {
  font-family: $header-two;
  display: block;
}

.function__fieldset {
  width: 50%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width: $tablet) {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    &:last-of-type {
      padding-bottom: 4rem;
    }
  }
}

.function__field > input, select {
  height: 30px;
  padding: 20px;
  box-sizing: border-box;
  background-color: $dark;
  outline: 0;
  border: 0;
  color: $light;
  font-family: $paragraph;
  font-weight: 700;
  font-size: 17px;
  margin-top: 6px;
  width: 100%;
  display: block;
}

.checkbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.function__fieldset > .checkbox__container > div {
  display: inline-block;
  margin: 0 15px;
  h1 {
    font-family: $header-two;
  }
  input {
    margin: 10px;
    display: block;
  }
}

.exclusivity {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.4rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: $header;
  font-size: 15px;
  width: 100%;
  padding-right: 50px;
  border: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: $dark !important;
  @media screen and (max-width: $tablet) {
    background-position: 95% 50%;
  }
  &:focus {
    outline: 0;
  }
  option {
    padding: 20px;
    display: block;
  }
}

.function__field > fieldset input, select {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.56);
  border-radius: 2px;
  width: 100%;
  padding: 6px 14px;
  height: 40px;
  color: white;
  box-sizing: border-box;
  font-family: $paragraph;
  font-weight: bolder;
  &:focus {
    border: 1px solid $green;
    outline: none !important;
    background-color: rgba(2, 2, 2, 0.5)
  }
}

.submit {
  background-color: blue;
  width: 100%;
  align-self: flex-end;
}

.function__field > .events__paragraph {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  &::before, &::after {
    content: '*';
    color: $green;
    font-weight: 900;
    font-size: 28px;
    vertical-align: bottom;
    display: inline-block;
  }
}

.function__fieldset > .submit__button {
  width: 80%;
  padding: 10px;
  font-family: $header-two;
  color: white;
  background-color: $green;
  position: absolute;
  bottom: 1rem;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-right: auto;
  transition: ease 0.25s;
  &:hover {
    cursor: pointer;
    transform: scale(1.02)
  }
}