@import 'base/variables';

#sidebar {
  display: none;
  @media screen and (max-width: $header-break) {
    position: fixed;
    right: 0;
    top: 0;
    //height: 100vh;
    width: 200px;
    background-color: $dark;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
  }
}
#sidebar, #menu-toggle {
  z-index: 9999999999999;
}
#sidebar > .navigation__item {
  color: $light;
  width: 100%;
}

#sidebar > .navigation__item > .navigation__link {
  text-align: center;
  font-size: 1.3rem;
  font-family: $header-two;
}

#sidebar .logo__graphic {
  display: block;
  margin: 0 auto 30px;
  max-width: 90px;
}

#menu-toggle {
  display: none;
  @media screen and (max-width: $header-break) {
    position: fixed;
    top: 1rem;
    display: block;
    right: 10px;
    padding: 0.8rem 1.7rem;
    color: $light;
    font-size: 1rem;
    text-align: right;
    font-family: $header-two;
    box-sizing: border-box;
    background-color: $green;
    &:hover {
      cursor: pointer;
    }
  }
}

#sidebar > .social__wrapper {
  bottom: 4.5rem;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
}

#sidebar > .social__wrapper > .social__text {
  text-align: center;
  width: 100%;
  color: $light;
  padding: 0.8rem 0;
  font-family: $header-two;
  display: block;
  font-size: 1rem;
}
