@import 'base/variables';

.row__paragraph {
  font-size: 1rem;
  font-family: 'Archer Book', serif;
  font-weight: 100;
  line-height: 1.5;
  color: $dark;
}
.functions__option {
  padding: 0 2rem;
  @media screen and (max-width: $tablet) {
    max-width: 100%;
    margin: 20px 0;
    padding: 0;
  }
}

.functions__option > .menu__heading {
  font-size: 1.7rem;
  margin: 0;
}
.functions__option > .menu__subtitle {
  margin-bottom: 1.6rem;
}
.functions__option, .functions .row > .row__image {
  max-width: 50%;
  flex: 1;
  @media screen and (max-width: $tablet) {
    max-width: 100%;
  }
}

.row__paragraph--bold {
  font-weight: bold;
  &::after {
    content: '-';
    width: 1rem;
    display: inline-block;
    text-align: center
  }
}

.row {
  display: flex;
  align-items: flex-start;
  padding: 1.6rem;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    padding: 0;
    align-items: stretch;
  }
}

.row .menu__subtitle {
  font-family: "Archer Light It", "cursive";
}

.functions__content {
  @media screen and (max-width: $tablet) {
    padding: 1.3rem;
  }
}

.functions > .row__container {
  margin-top: 2.6rem;
}

.drinks_packages {
  display: none;
}

.functions__item {
  margin: 1.1rem 0;
}

.functions .row > .row__image {
  width: 100%;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

// FORM

.enquiry__container {
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  @media screen and (max-width: $tablet) {
    padding: 2rem
  }
  @media screen and (max-width: $header-break) {
    padding: 1rem;
  }
}

.function-text > .row .events__paragraph {
  font-size: 1rem;
  width: 100%;
}

.enquiry__image {
  max-width: 380px;
  max-height: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 2rem;
  @media screen and (max-width: $header-break) {
    display: none;
  }
}

.functions .button, .function-text .container > .button {
  width: 80%;
  padding: 10px;
  font-family: $header-two;
  color: white;
  background-color: $green;
  transition: ease 0.25s;
  margin: 20px auto;
  display: block;
  max-width: 200px;
  text-align: center;
  &:hover {
    cursor: pointer;
    transform: scale(1.02)
  }
}

.function-text .container > .button {
  margin: 40px auto 15px;
}

.function-text::after {
  border-bottom: 1px solid #bbb;
  margin: 0 auto;
  display: block;
  width: 70%;
  content: ''
}