// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base/variables';

body {
  font-size: 100% !important;
  background: image_url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $dark;
}

main {
  max-width: 980px;
  margin: 0 auto;
  background-color: $light;
}

.alert {
  width: 100%;
  background-color: $green;
  display: block;
  color: $light;
  text-align: center;
  padding: 1rem;
  font-family: $header-two;
  box-sizing: border-box;
}