!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Hansell & Gretel
    = csrf_meta_tags
    %meta{ :name => 'google-site-verification', :content => '_tUnXHnEM6--OZQGMEmmKduO949om1XfHzpIT-i1F40'}
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{ :name => 'description', :content => 'Home of Gaythorne’s own espresso and breakfast bar!' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %p#menu-toggle
      Menu
    %div#blur{style: 'display: none'}
    %main
      =render 'components/header'
      %div.page_title__banner
        %h1.page__title
          =@title
      - flash.each do |key, value|
        %div.alert.alert-=value
      = yield
      =render 'components/footer'
